## Deliverable 2. Create a Customer Travel Destinations Map.

In [4]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Victoria,HK,22.2855,114.1577,87.96,83,100,1.99,overcast clouds
1,1,Cape Town,ZA,-33.9258,18.4232,58.12,87,82,7.05,broken clouds
2,2,Vanavara,RU,60.3400,102.2797,54.36,64,91,1.07,overcast clouds
3,3,Bonthe,SL,7.5264,-12.5050,79.70,80,99,7.07,overcast clouds
4,4,Chokurdakh,RU,70.6333,147.9167,36.81,59,100,17.05,overcast clouds

In [6]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [7]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Bonthe,SL,7.5264,-12.5050,79.70,80,99,7.07,overcast clouds
5,5,Atuona,PF,-9.8000,-139.0333,79.21,77,42,21.77,light rain
6,6,Ciudad Ojeda,VE,10.1964,-71.3082,84.06,68,100,8.86,overcast clouds
9,9,Pontes E Lacerda,BR,-15.2261,-59.3353,74.77,68,80,3.27,broken clouds
10,10,Pisco,PE,-13.7000,-76.2167,66.25,68,0,10.36,clear sky
11,11,Sahaspur,IN,29.1333,78.6167,78.93,74,50,7.18,scattered clouds
13,13,Albany,US,42.6001,-73.9662,69.75,73,32,1.01,scattered clouds
20,20,Ormara,PK,25.2088,64.6357,82.98,89,54,13.49,broken clouds
24,24,Mahebourg,MU,-20.4081,57.7000,69.26,83,9,8.37,light rain
29,29,Bria,CF,6.5423,21.9863,68.29,97,89,1.50,overcast clouds

In [8]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                374
City                   374
Country                374
Lat                    374
Lng                    374
Max Temp               374
Humidity               374
Cloudiness             374
Wind Speed             374
Current Description    374
dtype: int64

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df=preferred_cities_df.dropna()

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bonthe,SL,79.70,overcast clouds,7.5264,-12.5050,
5,Atuona,PF,79.21,light rain,-9.8000,-139.0333,
6,Ciudad Ojeda,VE,84.06,overcast clouds,10.1964,-71.3082,
9,Pontes E Lacerda,BR,74.77,broken clouds,-15.2261,-59.3353,
10,Pisco,PE,66.25,clear sky,-13.7000,-76.2167,
11,Sahaspur,IN,78.93,scattered clouds,29.1333,78.6167,
13,Albany,US,69.75,scattered clouds,42.6001,-73.9662,
20,Ormara,PK,82.98,broken clouds,25.2088,64.6357,
24,Mahebourg,MU,69.26,light rain,-20.4081,57.7000,
29,Bria,CF,68.29,overcast clouds,6.5423,21.9863,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [13]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bonthe,SL,79.70,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village
5,Atuona,PF,79.21,light rain,-9.8000,-139.0333,Villa Enata
6,Ciudad Ojeda,VE,84.06,overcast clouds,10.1964,-71.3082,Amira minimarket
9,Pontes E Lacerda,BR,74.77,broken clouds,-15.2261,-59.3353,Hotel Bressan
10,Pisco,PE,66.25,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df=hotel_df.loc[(hotel_df["Hotel Name"] != "")]
len(clean_hotel_df)
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Bonthe,SL,79.70,overcast clouds,7.5264,-12.5050,Bonthe Holiday Village
5,Atuona,PF,79.21,light rain,-9.8000,-139.0333,Villa Enata
6,Ciudad Ojeda,VE,84.06,overcast clouds,10.1964,-71.3082,Amira minimarket
9,Pontes E Lacerda,BR,74.77,broken clouds,-15.2261,-59.3353,Hotel Bressan
10,Pisco,PE,66.25,clear sky,-13.7000,-76.2167,Hotel San Isidro Oficial
...,...,...,...,...,...,...,...
678,Antalaha,MG,69.24,clear sky,-14.9003,50.2788,Hotel Vitasoa
679,Ixmiquilpan,MX,74.19,overcast clouds,20.4833,-99.2333,Hotel Avenida Ixmiquilpan
680,Lazaro Cardenas,MX,82.92,overcast clouds,17.9583,-102.2000,quinta antigua
682,Takoradi,GH,78.94,light rain,4.8845,-1.7554,Raybow International Hotel
683,Camacha,PT,66.96,scattered clouds,33.0833,-16.3333,Hotel Porto Santo & Spa

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [34]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))